<div class="card text-center mt-5">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="assets/img/mikopo3.JPG" style="background-color: black;" class="card-img" style="height: 100%;" alt="...">
        </div>
        <div class="col-md-4 mt-5">
            <div class="card-body">
                <h5 class="card-title">Prueba de postulación</h5>
                <p class="card-text">Este proyecto es presentado para postular al cargo de Fullstack para la empresa del rubro financiero MiKopo por parte del postulante Jorge Castillo S. developer Fullstack</p>
                <p class="card-text"><small class="text-muted">Muchas Gracias</small></p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="assets/img/yo.jpg" class="card-img" alt="...">
        </div>
    </div>
</div>